APP_PORT=3000
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=please-change-me
MYSQL_DATABASE=churuku
JWT_SECRET=please-change-me
WX_APPID=wx820061268d79319d
WX_APPSECRET=please-change-me
PDF_FONT_PATH=/Library/Fonts/Arial Unicode.ttf
